## Environment ##
NODE_ENV=

## Server ##
PORT=
HOST=

## Setup jet-logger ##
JET_LOGGER_MODE=
JET_LOGGER_FILEPATH=
JET_LOGGER_TIMESTAMP=
JET_LOGGER_FORMAT=

##JWT
JSON_TOKEN_KEY = 

JSON_TOKEN_REFRESH_KEY = 

#MSG91 API KEY 
MSG_API_KEY = 

#SENDGRID API KEY
EMAIL_API_KEY = 
DEFAULT_FROM_ADDRESS = 


###SELF
SELF_URL = 

###MTALK
MTALK_API = "http://msg.mtalkz.com/V2/http-api.php"
MTALK_API_KEY = ""

####SMS MTALKZ OR MSG91
SMS_PROVIDER ="MTALKZ"

##### ONESIGNAL
SIGNAL_API_KEY = ""
SIGNAL_APP_ID = ""